/* Jacob Cannamela */
/* CSD340 */
/* Assignment  */
/* 1.15.2025 */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #E0E0E0;
    background-color: #2E2E2E;
}

#container {
    margin: 50px 100px;
}

h1, h2, h3, h4 {
    background-color: #444;
    color: #FFF;
    border: 1px solid #555;
    padding: 10px;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    color: #63B8FF;
}

a:visited {
    color: #104E8B;
}
