/* Jacob Cannamela */
/* CSD340 */
/* Assignment 8 */
/* 2.8.2025 */

header {
    background-color: #2C3E50; /* Dark Blue */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

#navbar {
    overflow: hidden;
    background-color: #34495E; /* Medium Dark Blue */
    border-bottom: 15px solid #2980B9; /* Bright Blue */
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #2980B9; /* Bright Blue */
    color: white;
}

#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    background-color: #ECF0F1; /* Light Gray */
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #2980B9; /* Bright Blue */
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

#movies {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#movies td {
    border: 1px solid #ddd;
    padding: 8px;
}

footer {
    background-color: #2C3E50; /* Dark Blue */
    position: fixed; /* Ensure the footer is fixed at the bottom */
    left: 0; /* Align the footer to the left */
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;  /* Align the link to the right */
    padding: 10px 20px; /* Adjusted padding */
    box-sizing: border-box; /* Ensures padding doesn't affect element width */
}

footer p {
    font-weight: 400;
    font-style: italic;
    margin: 0; /* Remove extra margin */
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

#container {
    margin: 2% 5% 100px 5%;
}
